*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol,
ul,
menu {
  list-style: none; //
}

.class {
  background-color: "#000";
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 100%;
  background-color: rgb(5, 5, 177);
  margin-bottom: 70px;
}

.header h1 {
  color: white;
  margin-right: 50%;
}

.whiteContainer {
  width: 700px;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 80px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;

  border-radius: 5px;
  width: 60px;
  height: 50px;
}

#searchInput {
  flex: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#buttonSubmit {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 50px;
  column-gap: 120px;
}

.card {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  box-shadow:
    15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.letter {
  width: 60px;
  height: 60px;
  background-color: rgb(19, 107, 238);
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 100%;
}

.img {
  width: 300px;
  height: 150px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.author {
  font-size: 18;
  font-family: Arial;
  margin-left: 20px;
  margin-right: 40px;
}

.date {
  font-size: 18;
  font-family: "Times New Roman";
}

.title {
  font-size: 18;
  font-family: Arial;
  font-weight: bold;
}
